body{
    margin:0;
    padding: 0;
    background-color: #96c1f8;
}

header{
    height: 100px;
}

section{
    background-image:url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 100vh;
    margin-bottom: -20px; 
    display: flex;
    justify-content: center;
}
section div{
    height: 100px;
    width: 100px;
    margin: 5px;
    background-color: #80cee1;
     
}
div:nth-child(3){
    background-color: gray;

}

section div:hover {
    border-radius: 50%;
    transform: rotate(360deg);
    transition: 500ms;
}

footer{
    height: 250px;
    background-color: #5ee1e6;
    text-align: center;
    color: white;
}
footer div{
    font-weight: normal;
    font-family: 'Trebuchet MS';
    font-size: 18px;
}

h1{
    text-align: center;
    color: white;
}
#bateau{
    transform: translateY(600px);
    animation: 8s Cayak linear forwards;
}
@keyframes Cayak{
    100%{
        transform: translate(620px,580px);
    }
}
#tresor {
    cursor: grab;
}
